:root {
    --primary-color: #ff9854;
    /* 搜索栏字体颜色 */
    --van-search-left-icon-color: var(--primary-color) !important;
    /* 搜索栏内边距 */

    /* 全局修改 */
    --van-primary-color: var(--primary-color);

    --van-search-padding: 10px 0 0 10px !important;
    /* 颜色渐变 */
    --theme-linear-gradient: linear-gradient(90deg, #fa8c1d, #fcaf3f);
}

body {
    font-size: 14px;
}

/* 占满屏幕 压盖tabbar 可以生成滚动条 */
.topPage {
    position: relative;
    z-index: 999;
    height: 100vh;
    overflow-y: auto;
    background-color: #fff;
}


.icon_check {
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url("../img/detail/icon_check.png") 0 0 / 100% 100%;
}